<footer>
  <div class="logo">
    <img class="u-mr--2" width="50" height="50" src="https://neuroup.com.br/wp-content/uploads/2019/04/fast-icon.png">

    <span>Cachy</span>
  </div>

  <p>Copyrights &copy <%= I18n.l(Time.current, format: :time) %> Cachy, All righters reserved</p>
</footer>