<header>
  <a href='/' class="logo">
    <img class="u-mr--2" width="50" height="50" src="https://neuroup.com.br/wp-content/uploads/2019/04/fast-icon.png">

    <span>Cachy</span>
  </a>

  <nav>
    <%= link_to "Books", books_path, class: "alt" %>
    <%= link_to "Authors", authors_path, class: "alt" %>
  </nav>
</header>