$clr-primary: #0052cc;
$clr-primary--dk: darken($clr-primary, 15%);
$clr-primary--lt: lighten($clr-primary, 55%);

body {
  background-color: #f7f7f7;
  color: #333;
  margin: 0;

  main {
    margin: 32px 128px;

    @media only screen and (max-width: 900px) {
      margin: 32px;
    }
  }
}

body,
p,
ol,
ul,
td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: white;
  padding: 4px 16px;
  background-color: $clr-primary;
  border-radius: 100px;
  text-decoration: none;

  &:visited {
    color: white;
  }

  &:hover {
    color: #fff;
    background-color: $clr-primary--dk;
  }

  &.alt {
    color: $clr-primary;
    border: 1px solid $clr-primary;
    background-color: white;

    &:hover {
      background-color: $clr-primary--lt;
    }
  }
}

form {
  padding: 16px;
  max-width: 700px;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  border-collapse: collapse;
  border-radius: 8px;
}

table {
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  border-collapse: collapse;
  border-radius: 8px;
}

thead {
  background-color: $clr-primary--dk;
  color: white;
}

tbody {
  padding: 16px;
}

th {
  text-align: left;
  padding: 8px 20px;
}

td {
  padding: 8px 20px;
}

div.field,
div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

input,
select {
  padding: 0;
  min-height: 32px;
  width: 300px;
  background: #eee;
  border: none;
  border-radius: 6px;
}

input {
  &[type="submit"] {
    width: unset;
    margin-top: 24px;
    color: white;
    padding: 4px 16px;
    background-color: $clr-primary;
    border-radius: 100px;
    text-decoration: none;

    &:hover {
      color: #fff;
      background-color: $clr-primary--dk;
    }
  }
}

// utilities

.u-flex {
  display: flex;

  &--justifyCenter {
    justify-content: center;
  }

  &--justifyBetween {
    justify-content: space-between;
  }

  &--alignCenter {
    align-items: center;
  }
}

.u-mr {
  &--1 {
    margin-right: 4px;
  }
  &--2 {
    margin-right: 8px;
  }
}

// Rack mini profiler

.profiler-results {
  a {
    color: #000;
    background-color: transparent;
  }

  a:visited {
    color: #666;
  }

  a:hover {
    color: #fff;
  }
}

// header
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 40px;
  padding: 10px 128px;
  border-bottom: 1px solid #ddd;

  @media only screen and (max-width: 900px) {
    padding: 10px 32px;
  }

  .logo {
    display: flex;
    align-items: center;
    padding: 0;
    background-color: transparent !important;
    font-size: 24px;
    font-weight: bold;
    color: black;
  }

  nav {
    a {
      color: $clr-primary;
      background-color: ṭransparent;
    }
  }
}

// footer
